{
    "extends": "sardius/react",
    "settings": {
      'import/resolver': 'webpack',
    },
    "rules": {
        "padded-blocks": ["error", { "classes": "always" } ],
        "no-trailing-spaces": 0
      },
}
