// App wide styles

.login-form {
  max-width: 300px;
  .login-form-forgot {
    float: right;
  }
  .login-form-button {
    width: 100%;
  }
  .ant-input-affix-wrapper .ant-input {
    min-height: 40px;
  }
}
