#AppLayout {

  .trigger {
    font-size: 18px;
    line-height: 64px;
    padding: 0 24px;
    cursor: pointer;
    transition: color .3s;
  }

  .trigger:hover {
    color: #1890ff;
  }

  .logo {
    height: 32px;
    background: rgba(255,255,255,.2);
    margin: 16px;
  }

  .ant-input-affix-wrapper .ant-input {
    min-height: 32px;
  }

  .ant-form-item {
    margin-right: 15px;
  }

  .ant-layout-sider {
    h3 {
      color: #fff;
      text-align: center;
      padding: 20px 0;
    }
  }
  .ant-table td { white-space: nowrap; }

  .ant-card-head .ant-tabs-bar {
    max-height: 65px;
  }
}
