.phraseBox {
    margin: 30px auto 30px auto;
    height: 150px;
    width: 500px;
    border: 1px solid gray;
    border-radius: 30px;
    box-shadow: 0px 0px 10px 1px;

    .phrase {
        margin: 40px 0 auto 0;
        text-align: center;
        color: #474747;
    }
}